header {
    position: fixed;
    top: 60px;
    display: flex;
    width: 100vw;
    justify-content: center;
    z-index: 900;
}

.main-section {
    scroll-snap-align: start;
    height: 100vh;
}

.main-section.-celebracao {
    height: 100vh;
    background-color: aliceblue;
}

.site-content {
    display: none;   
}

