.modal-pagamento {
  background-color: #c8d9e6;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 93vw;
  max-height: 150vw;
  position: fixed;
  z-index: 999;
  top: 100px;
  display: block;
  overflow-y: auto
}

.active {
    display: block;
}

.modal-pagamento .tipo-pagamento {
    display: flex;
    flex-direction: column;

}

.tipo-pagamento .logo {
    width: 25vw;
    object-fit: contain;
    object-position: center;
} 

.tipo-pagamento .pix {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tipo-pagamento .pix .valor-pix {
    font-size: 7vw;
}