.presente-item {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 40vw;
    background-color: #fff9f1;
}

.presente-item h3 {
    font-family: 'Syne';
    font-size: 3.8vw;
    color: rgb(85, 85, 85);
    text-align: center;
}

.presente-item image {

}

.presente-item button {
    border: none;
    border-radius: 5px;
    background-color: #ffa500;
    color: white;
    font-weight: 700;
    height: 11vw;
}