.presente-item {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 40vw;
    background-color: bisque;
    text-align: center;
    font-family: "Syne", sans-serif;
    font-size: 3.8vw;
    color: rgb(85, 85, 85);
}

.presente-item image {

}

.presente-item button {
    border: none;
    border-radius: 5px;
    background-color: aqua;
    height: 11vw;
    font-family: "Syne", sans-serif;
}