.main-title {
    font-family: 'ahsingregular';
}

.-kenao {
    font-family: 'kenaoregular';
}

.main-subtitle {
    font-family: 'ahsingregular';
    font-size: 3vw;
}

.main-text {
    font-family: 'kenaoregular';
    font-size: 1.3vw;
    color: rgb(85, 85, 85);
}

.main-text b {
    font-weight: 600;
    font-size: 1.4vw;
}
