.main-title {
    font-family: 'ahsingregular';
    font-size: 7vw;
}

.-kenao {
    font-family: 'kenaoregular';
}

.main-subtitle {
    font-family: 'ahsingregular';
    font-size: 3vw;
}

.main-text {
    font-family: 'kenaoregular';
    font-size: 1.5vw;
}

