.main-title {
    font-family: 'ahsingregular';
}

.-kenao {
    font-family: 'kenaoregular';
}

.main-subtitle {
    font-family: 'ahsingregular';
    font-size: 3vw;
}

.main-text {
    font-family: 'kenaoregular';
    font-size: 1.3vw;
    color: rgb(85, 85, 85);
}

.main-text .-date {
    font-weight: 800;
    font-size: 1.8vw;
    font-family: 'kenaoregular' ;
}

.main-text .-manuscript {
    font-family: 'Meow Script', cursive;
    font-weight: 400;
    font-size: 4vw;
}

