.-nossa-historia {
    height: 115vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #fdfdf1;
    z-index: 600;
    position: relative;
    background: linear-gradient(to bottom, #fdfdf100 0%, #fdfdf1ea 27%, #fdfdf1 30%);
}

.-nossa-historia .main-text {
    width: 50vw;
    height: fit-content;
    text-align: center;
    color: rgb(77, 77, 77);
    padding: 50px;
    border-radius: 10px;
    line-height: 1.5vw;
    z-index: 1;
}

.-nossa-historia .main-text .-date {
    color: rgb(98, 121, 96);
    font-size: 90px;
    line-height: 120px;

}

.-nossa-historia .igrejaimg {
    width: 80vw;
    height: 80vw;
}

.transitionFlowers-left {
    position: absolute;
    z-index: 0;
    left: -180px;
    top: 900px;
    z-index: 800;
    filter: blur(3px);
}

.transitionFlowers-right {
    position: absolute;
    z-index: 0;
    right: -80px;
    top: 1300px;
    z-index: 800;
    filter: blur(4px);
}

.-nossa-historia .floating-photo {
    position: absolute;
}

.-nossa-historia .floating-photo.-first {
    z-index: 2;
    border-radius: 20px;
    width: 320px;
    aspect-ratio: 7/10;
    top: 120px;
    left: 110px;
    transition: transform 0.4s ease-out;
    background-image: url(../../assets/img/35-DSC_8426.jpg);
    background-size: 143%;
    background-repeat: no-repeat;
    background-position: -39px -9px;
}

.-nossa-historia .floating-photo.-second {
    background-image: url(../../assets/img/41-DSC_8626.jpg);
    background-size: 177%;
    background-position: center;
    border-radius: 20px;
    width: 370px;
    aspect-ratio: 9 / 11;
    bottom: 42px;
    right: 107px;
    transition: transform 0.4s ease-out;
    filter: brightness(140%);
}

.-nossa-historia .floating-photo.-secondMobile {
    background-image: url(../../assets/img/41-DSC_8626.jpg);
    background-size: 177%;
    background-position: center;
    border-radius: 20px;
    width: 370px;
    aspect-ratio: 9 / 11;
    bottom: 42px;
    right: 107px;
    transition: transform 0.4s ease-out;
    filter: brightness(140%);
}

.-nossa-historia .floating-photo.-third {
    background-image: url(../../assets/img/45-DSC_8681.jpg);
    background-size: 190%;
    background-position: -416px -625px;
    filter: brightness(1.25);
    border-radius: 20px;
    width: 670px;
    aspect-ratio: 17 / 10;
    bottom: -40px;
    left: 468px;
    transition: transform 0.4s ease-out;
}