.-nossa-historia {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #b1e9b4;
    z-index: 600;
    position: relative;
}

.-nossa-historia .main-text {
    width: 50vw;
    height: 22vw;
    text-align: center;
    color: rgb(77, 77, 77);
    padding: 50px;
    background-color: #e9fae3;
    border-radius: 10px;
    line-height: 1.5vw;
    z-index: 1;
}

.-nossa-historia .main-text b {
    color: rgb(98, 121, 96);
}

.transitionFlowers-left {
    position: absolute;
    z-index: 0;
    left: -180px;
    top: 900px;
    z-index: 800;
    filter: blur(3px);
}

.transitionFlowers-right {
    position: absolute;
    z-index: 0;
    right: -80px;
    top: 1300px;
    z-index: 800;
    filter: blur(4px);
}

.-nossa-historia .floating-photo {
    position: absolute;
}

.-nossa-historia .floating-photo.-first {
    z-index: 2;
    border-radius: 5px;
    width: 17vw;
    aspect-ratio: 7/11;
    top: 50px;
    left: 150px;
    transition: transform 0.4s ease-out;
    background-image: url(../../assets/img/vivi-ghibli.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.-nossa-historia .floating-photo.-second {
    background-image: url(../../assets/img/esdras-ghibli.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 24vw;
    aspect-ratio: 9/11;
    bottom: 65px;
    right: 150px;
    transition: transform 0.4s ease-out;
}