.-galeria {
    padding: 0 0;
    background-color: #fdfdf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.-galeria .capagaleria {
    height: 670px;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0.8) ), url(../../assets/img/42-DSC_8635\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: ellipse(165% 99% at 50% 0%);
    margin-bottom: 30px;
}

.-galeria .main-subtitle {
    color: #ffffff;
    margin-bottom: 60px;
    position: absolute;
    top: 29vh;
    z-index: 3;
    font-family: 'Kenaoregular';
    font-size: 13vw;
    text-align: center;
}

.-galeria .main-subtitle .-galeria-subtitle {
    font-size: 30vw;
    margin-left: -25px;
    line-height: 19vw;
    font-family: 'Meow Script';
    color: #ffffff;
}

.-galeria .instagram-galery {
    
    width: 99vw;
}