.-inicio {
    background-color: #a7c7f6;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    scrollbar-width: none;
    
}

.-inicio .main-title {
    color: white;
    position: absolute;
    top: 170px;
    display: inline-flex;
    align-items: center;
    gap: 75px;
    z-index: 1;
}

.-inicio .main-title .-kenao {
    font-size: 3vw;
}

.-inicio .casal-ghibli {
    position: absolute;
    bottom: 0;
    height: 79vh;
    z-index: 2;
}

.-inicio .flowers {
    height: 100vh;
    width: 99.8vw;
    display: flex;
    position: absolute;
}

.-inicio .flowers-left {
    position: absolute;
    z-index: 0;
    left: -270px;
    bottom: -444px;
    transform: rotate(10deg) scale(1.13);
}

.-inicio .flowers-right {
    position: absolute;
    z-index: 0;
    right: -240px;
    bottom: -250px;
    transform: rotate(-21deg) scale(1.1);
}

.main-menu {
    transform: translateX(95vw);
    transition: transform 1s ease-in-out;
}

.main-title {
    transform: translateX(250vw);
    transition: transform 1s ease-in-out;
}

.casal-ghibli {
    transform: translateX(90vw);
    transition: transform 1s ease-in-out;
}

.flowers {
    transform: translateX(190vw);
    transition: transform 1s ease-in-out;
}

.visible {
    transform: translateX(0);
}

.overflow-hidden {
    overflow: hidden;
}